/* Steve Girlock - WEB210 */

/* Color variables */

:root {
    --medred: #842908;
    --dkred: #441504;
    --ltbeige: #CEB272;
    --medbeige: #6C4B01;
    --dkbeige: #362601;
  }

/* Global styles
-------------------------------------------- */


html {
    scroll-behavior: smooth;
    background-image: url(../images/AdobeStock_396473715-01.svg);
    background-repeat: repeat-y;
    background-size: cover;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 0 10px;
    min-height: 100px;
    max-height: 120px;
}
.top-group {
    position: relative;
    margin: 20px auto;
}
h1 {
    color: var(--ltbeige);
    font-family: blackcurrant, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding-right: 10px;
    float: left;
    margin: 0;
}
h2 {  
    color: var(--ltbeige);
    font-family: calgary-script-ot, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    float: right;
    margin: 10px 0;
}
.p-sm {
    display: none;
}
.p-lg {
    display: block;
}

.item1 { grid-area: header; }
.item2 { grid-area: aside; }
.item3 { grid-area: p1; }
.item4 { grid-area: p2; }
.item5 { grid-area: p3; }
.item6 { grid-area: p4; }
.item7 { grid-area: p5; }
.item8 { grid-area: p6; }
.item9 { grid-area: p7; }
.item10 { grid-area: p8; }
.item11 { grid-area: p9; }
.item12 { grid-area: footer; }

.main-container {
  position: relative;
  min-height: 90vh;
  margin: 0 auto;
  width: 80vw;
  display: grid;
  grid:
    'header header header header header header'
    'aside aside aside p1 p1 p2'
    'aside aside aside p3 p4 p4'
    'p5 p6 p7 p7 p8 p9'
    'footer footer footer footer footer footer';
    gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .15fr .25fr .25fr .25fr .15fr;
}

section img {
    object-fit: contain;
    max-width: 100%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
}

section img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.aside-back {
    background-image: linear-gradient(to right, var(--medbeige), var(--dkbeige));
    border-radius: 30px 0 30px 0;
    padding: 0 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: row;
}


.aside-back img {
    position: absolute;
    bottom: 0;
    right: 0;
    filter: none;
    width: 60%;
}
.aside-back p {
    color: var(--ltbeige);
    font-family: casablanca-urw, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(1.5em, 1.75em, 2em);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    line-height: 1.6;
}

footer {
    background-image: linear-gradient(to right, var(--ltbeige), var(--medbeige));
    border-radius: 30px 0 30px 0;
    padding: 0 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    position: relative;
    width: 100%;
    max-height: 60px;
    display: flex;
    flex-direction: row;
}
footer a {
    color: var(--dkred);
    text-decoration: none;
    font-family: casablanca-urw, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
}
footer a:hover {
    color: var(--medred);
    text-decoration: none;
    font-family: casablanca-urw, sans-serif;
    font-weight: 500;
    font-style: normal;
}
#footer-link {
    position: absolute;
    left: 50%;
    top: 20%;
    cursor: pointer;
}
#more {
    display: none;
    margin: 0;
    padding: 0 15px;
    position: absolute;
    top: 27em;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 255, 255, .5); */
    background-position: top;
    border-radius: 0 0 20px 20px;
    height: 50em;
    z-index: -2;
}
.more-toggle {
    display: none;
}

.more-toggle-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    cursor: pointer; 
    font-family: casablanca-urw, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    color: var(--dkred);
}
.more-toggle-label:hover {
    color: var(--medred);
}

.more-toggle:checked ~ #more {
    display: block;
}


.item13 { grid-area: p13; }
.item14 { grid-area: p14; }
.item15 { grid-area: p15; }
.item16 { grid-area: p16; }
.item17 { grid-area: p17; }
.item18 { grid-area: p18; }
.item19 { grid-area: p19; }
.item20 { grid-area: p20; }
.item21 { grid-area: p21; }
.item22 { grid-area: p22; }
.item23 { grid-area: p23; }
.item24 { grid-area: p24; }
.foot { grid-area: foot; }

.more-container {
  position: relative;
  margin: 50px auto;
  width: 75vw;
  display: grid;
  grid:
    'p15 p16 p16 p13 p21'
    'p14 p19 p18 p18 p20'
    'p17 p17 p22 p23 p24'
    'foot foot foot foot foot';
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 150px), 50px;
}

.more-container section img {
    object-fit: contain;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
}
.mail-lg {
    display: block;
}
.mail-sm {
    display: none;
}

.social {
    position: absolute;
    top: 10px;
    right: 20px;
    
}
.social img {
    max-width: 25px;
    min-width: 20px;
}

.social a:nth-child(1) {
    float: left;
    padding: 10px;
}
.social a:nth-child(2) {
    float: right;
    padding: 10px;
}




@media screen and (max-width: 1200px) {
    .aside-back p {
        color: var(--ltbeige);
        font-family: casablanca-urw, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5em;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
        line-height: 1.35; 
        }
}

@media screen and (max-width: 1000px) {
    .main-container {
        position: relative;
        margin: 0 auto;
        width: 95vw;
        display: grid;
        grid:
          'header header header'
          'header header header'
          'aside aside aside'
          'aside aside aside'
          'p1 p1 p2' 
          'p3 p4 p4'
          'p7 p7 p8'
          'p6 p5 p9'
          'footer footer footer'
          'footer footer footer';
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        }
    .aside-back img {
        position: absolute;
        bottom: 0;
        right: 0;
        filter: none;
        
        max-height: 100%;
        }
    .aside-back p {
        color: var(--ltbeige);
        font-family: casablanca-urw, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: clamp(1.25em, 1.35em, 1.45em);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
        line-height: 1.5; 
        }
    .p-sm {
        display: block;
        max-width: 90%;
        }
    .p-lg {
        display: none;
        }
        h1 {
            font-size: 6vw;
        }
        h2 {
            font-size: 5vw;
        }
        .mail-lg {
            display: none;
        }
        .mail-sm {
            display: block;
        }
        #more {
            margin: 0;
            padding: 0 15px;
            position: absolute;
            top: 46em;
            left: 50%;
            transform: translate(-50%, -50%);
             /* background-color: rgba(255, 255, 255, .5); */
            border-radius: 0 0 20px 20px;
            height: 60em;
            z-index: -2;
            width: 85vw;
        }
        .more-container {
            position: relative;
            margin: 50px auto;
            width: 80vw;
            display: grid;
            grid:
              'p15 p16 p16' 
              'p13 p14 p21'
              'p19 p18 p18'
              'p20 p23 p24'
              'p17 p17 p22'
              'foot foot foot';
              gap: 15px;
              grid-template-columns: repeat(3, 1fr);
              grid-template-rows: repeat(5, 150px), 50px;
          }
          .more-container section img {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
    @media screen and (max-width: 1000px) {
        #more {
            margin: 0;
            padding: 0 15px;
            position: absolute;
            top: 49em;
            left: 50%;
            transform: translate(-50%, -50%);
             /* background-color: rgba(255, 255, 255, .5); */
            border-radius: 0 0 20px 20px;
            height: 95em;
            z-index: -2;
            width: 85vw;
    }

    @media screen and (max-width: 600px) {
        h1 {
            font-size: 7.5vw;
        }
        h2 {
            font-size: 7vw;
        }
        #more {
            margin: 0;
            padding: 0 15px;
            position: absolute;
            top: 30em;
            left: 50%;
            transform: translate(-50%, -50%);
             /* background-color: rgba(255, 255, 255, .5); */
            border-radius: 0 0 20px 20px;
            height: 55em;
            z-index: -2;
            width: 85vw;
        }
        .more-container {
            position: relative;
            /* height: 700px; */
            margin: 50px auto;
            width: 80vw;
            display: grid;
            grid:
              'p15 p16 p16' 
              'p13 p14 p21'
              'p19 p18 p18'
              'p20 p23 p24'
              'p17 p17 p22'
              'foot foot foot';
              gap: 15px;
              grid-template-columns: repeat(3, 1fr);
              grid-template-rows: repeat(5, 70px), 40px;
          }
    }
}
}